CompileFlags:
  CompilationDatabase: "build" # Points clangd to your build folder
  Add: [-std=c++20]

Index:
  External:
    File: .
    MountPoint: "**/node_modules/**" # Excludes node_modules from indexing
